{% extends "base.html" %}
{% block main_content %}

{% for question in questions %}

<a href="{{ question.get_absolute_url }}"><h2>{{ question.title }}</h2></a>

{% endfor %}

<nav>
    <ul class="pagination">
        {% for p in paginator.page_range %}
            {% if p == page.number %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="?page={{ p }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

{% endblock %}